body{
    background: black;
    cursor: url('img/ani1244.cur'), auto;
    line-height: 1;
}
.Dragonball, .DC, .Naruto, .StarWars, .Transformers, .YuYu, .Academia, .Jack, .Sly, .Zelda, .Titan{
    padding: 5px;
    margin: 5px;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    height: 360px;
    width: 19%;
    font-family: 'Goldman', cursive;
    font-size: x-small;
    color: #a2dc78;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-evenly;
    border: 2px groove #1fff7c;
}
.Dragonball:hover, .DC:hover, .Naruto:hover, .StarWars:hover, .Transformers:hover, .YuYu:hover, .Academia:hover, .Jack:hover, .Sly:hover, .Zelda:hover, .Titan:hover{
    padding: 5px;
    margin: 5px;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    height: 360px;
    width: 19%;
    font-family: 'Goldman', cursive;
    font-size: x-small;
    color: #a2dc78;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-evenly;
    border: 2px groove #f3b7f3;
}
.charSelectImg {
    display: grid;
    float: top;
    height: 200px;
    width: 180px;
    /*height: 200px;*/
    /*width: 70%;*/
    margin-bottom: 1px;
}
div, h1 {
    display: none;
}
h2{
    font-family: 'Goldman', cursive;
    font-size: xxx-large;
    color: #a2dc78;
}
#startupScreen{
    display: flex;
    font-family: 'Goldman', cursive;
    font-size: larger;
    color: #a2dc78;
}
#battleScreen{
    height: 45rem;
    width: 90rem;
    display: none;
    font-family: 'Goldman', cursive;
    font-size: larger;
    background-image: url("img/tenkaichi-stage.jpeg");
    justify-content: space-between;
}
#battle1 h2, #battle2 h2{
    font-size: larger;
}
#battle1{
    height: 45rem;
    width: 24rem;
    text-align: center;
    border: 2px solid gold;
}
#battle2{
    height: 45rem;
    width: 24rem;
    text-align: center;
    border: 2px solid gold;
}
#p1Img{
    height: 16rem;
    width: 12rem;
}
#p2Img{
    height: 16rem;
    width: 12rem;
}
btn {
    border: 1px solid gold;
    border-radius: 1.25rem;
    color: #60dfcd;
    background-image: url("img/hover-reg-moves.gif");
    margin-outside: 5px;
}
#p1MoveUlt {
    border: 1px solid gold;
    border-radius: 1.25rem;
    color: #60dfcd;
    background-image: url("img/hover-ultimate.gif");
    margin-outside: 5px;
}
#p2MoveUlt {
    border: 1px solid gold;
    border-radius: 1.25rem;
    color: #60dfcd;
    background-image: url("img/hover-ultimate.gif");
    margin-outside: 5px;
}
#topRow{
    height: 100%;
    width: 100%;
    font-family: 'Goldman', cursive;
    color: #a2dc78;
}
.charSelBtn1, .charSelBtn2 {
    border: 1px solid gold;
    border-radius: 1.25rem;
    color: #60dfcd;
}
.healthLabel{
    font-family: 'Goldman', cursive;
    color: #00b712;
}
.hpBorder{
    width: 19rem;
    height: .75rem;
    border: 3px solid black;
}
.hpBar{
    width: 19rem;
    height: .75rem;
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
}
.kiLabel{
    font-family: 'Goldman', cursive;
    color: #60dfcd;
}
.kiBorder{
    width: 19rem;
    height: .75rem;
    border: 3px solid black;
}
.kiBar{
    width: 19rem;
    height: .75rem;
    background-color: #60dfcd;
    background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);
}