body{
    background: black;
    cursor: url('img/ani1244.cur'), auto;
    line-height: 1;
}
.Dragonball, .DC, .Naruto, .StarWars, .Transformers, .YuYu, .Academia, .Jack, .Games, .Titan{
    padding: 5px;
    margin: 5px;
    background-color: #000000;
    /*text-align: left;*/
    /*align-content: center;*/
    /*align-items: center;*/
    overflow: hidden;
    position: relative;
    height: 300px;
    width: 14%;
    font-family: 'Goldman', cursive;
    font-size: smaller;
    color: #ffffff;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-evenly;
    /*color: #de7c19;*/
    /*background-color: #32cd32;*/
    /*background-image: linear-gradient(315deg, #32cd32 0%, #233329 74%);*/
    /*opacity: 1.5;*/
    /*height: 600px;*/
    /*width: 300px;*/
    border: 5px groove #1fff7c;
}
.charSelectImg {
    display: grid;
    /*align-content: center;*/
    /*align-self: center;*/
    /*align-items: center;*/
    float: top;
    height: 200px;
    width: 150px;
    margin-bottom: 10px;
}
